@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000;
  --foreground: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-quicksand);
}
::-webkit-scrollbar {
  display: none;
}

.name {
  font-family: var(--font-audiowide);
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("/name3.avif");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0 2rem 4rem #9db4c2);
  color: transparent;
}
.drop {
  filter: drop-shadow(0 4rem 2rem #9db4c2);
}
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
