.checkpoints {
  text-align: center;
  min-height: 100vh;
}

#timeline {
  background-image: url("../Assets/layered-waves-haikei\ \(2\).svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#timeline img {
  border-radius: 50%;
  width: 10%;
  filter: drop-shadow(0px 0px 50px #000000);
  transition: all 0.5s ease-in-out;
}

#timeline img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 50px rgb(22, 158, 167));
}

.checkpoints h1 {
  background-color: #41c1ae;
  padding: 20px;
  color: white;
}

.checkpoints h2 {
  z-index: 1;
  padding: 2px;
  border-radius: 5px;
  font-style: kalam, cursive;
}

hr {
  position: relative;
  top: 300px;
  width: 40%;
  transform: rotate(90deg);
  border: 1px solid #000000;
  z-index: -1;
}

.dots {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: black;
  border: 1px solid #000000;
}

#current {
  animation: dot 1s infinite;
}
.bub {
  top: 100vh;
}
@keyframes dot {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 920px) {
  hr {
    width: 15cm;
    top: 200px;
  }

  #timeline img {
    width: 30%;
  }

  .checkpoints h1 {
    font-size: 28px;
    padding: 13px;
  }
}
