@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

body::-webkit-scrollbar {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #41c1ae;
  border-radius: 10px;
}

header {
  padding: 15px;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

#iqlipse-res {
  display: none;

}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  height: 100vh;
}

#logo {
  color: #41c1ae;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Kalam;
}

.items {
  display: flex;
  justify-content: flex-end;
}

.item {
  text-align: left;
  margin-left: 30px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 800;
  cursor: pointer;
}

#display {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

.omega {
  height: auto;
  background-color: #bdffbd;
  animation: bubble 6s infinite;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

#display img {
  margin-right: 40px;
  width: 50%;
  animation: bubble 6s infinite;
  transition: transform 0.3s ease-in-out;
  margin-top: 30px;
  margin-left: 20px;
}

@keyframes bubble {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transform: scale(1);
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    transform: scale(1.1);
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transform: scale(1);
  }
}

#info {
  position: absolute;
  top: 300px;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  line-height: normal;
  font-weight: lighter;
  margin-left: 20px;
}

#design {
  font-family: Itim;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#develop {
  letter-spacing: 5px;
  font-weight: 900;
}

#name {
  color: #40bcaa;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}


.iframe-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  border: 2px solid #41c1ae;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 90%;
}

@media screen and (max-width: 920px) {
  #info {
    text-align: center;
    font-size: small;
    margin-top: 12pc;
  }

  header {
    display: none;
  }

  #iqlipse-res {
    padding: 5px;
    display: block;
    text-align: center;
    background-color: rgb(247, 247, 247);
  }

  #display {
    justify-content: center;
  }

  #display img {
    margin-right: 0px;
    width: 70%;
    margin-top: 0;
    margin-left: 0px;
  }

  .omega {
    margin-right: 0px;
  }

  .iframe-container iframe {
    width: 100%;
    height: 100%;
  }
}