@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: black;
}

::selection {
  background-color: #93ff93;
  color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #41c1ae;
  border-radius: 10px;
}

header {
  padding: 15px;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.App {
  background: url("https://yasio.dev/assets/img/bg.87635d9.webp");
  display: flex;
  color: #fff;
  flex-direction: row-reverse;
  height: 90vh;
}

#iqlipse-res {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  color: #41c1ae;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Kalam;
}

.items {
  display: flex;
  justify-content: flex-end;
}

.item {
  text-align: left;
  margin-left: 30px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 800;
  cursor: pointer;
}

#display {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#display img {
  margin-right: 40px;
  width: 50%;
  animation: bubble 6s infinite;
  transition: transform 0.3s ease-in-out;
  margin-top: 30px;
  margin-left: 20px;
}

.omega {
  background-color: rgba(21, 19, 28, 0.301);
  animation: bubble 6s infinite;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  margin-right: 4%;
  backdrop-filter: blur(10px);
}

@keyframes bubble {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transform: scale(1);
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    transform: scale(1.1);
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transform: scale(1);
  }
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  line-height: normal;
  font-weight: lighter;
  will-change: transform, opacity;
}

#info h2 {
  margin-left: 20px;
  overflow: hidden;
  position: relative;
  animation: fadeIn 1s forwards;
}

#info h2::selection {
  background-color: #41c1ae;
  color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    /* Optional: Add a subtle upward movement */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Optional: Return to the original position */
  }
}


#design {
  font-family: Itim;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#develop {
  letter-spacing: 5px;
  font-weight: 900;
}

#name {
  color: #40bcaa;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

/* TechStyles.css */
#tech {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #cecece;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

#tech:hover {
  box-shadow: 0 4px 10px rgba(63, 53, 53, 0.2);
}

#tech section {
  flex: 1;
  margin: 0 10px;
}

#tech h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}

#tech ul {
  list-style: none;
  padding: 0;
}

#tech li {
  margin-bottom: 5px;
  color: #555;
  font-size: 1rem;
  transition: color 0.3s ease;
}

#tech li:hover {
  color: #000;
  cursor: pointer;
}

#tech p {
  margin: 5px 0;
  color: #888;
  font-size: 0.9rem;
}


.iframe-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  border: 2px solid #41c1ae;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 90%;
}

@media screen and (max-width: 920px) {
  header {
    display: none;
  }

  .App {
    flex-direction: column;
  }

  #display {
    justify-content: center;
    width: 100%;
    justify-content: center;
    height: 70%;
  }

  #info {
    font-size: small;
    width: 100%;
  }

  #iqlipse-res {
    padding: 5px;
    display: block;
    text-align: center;
    background-color: rgb(247, 247, 247);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* Adds a shadow effect */

  }

  #display img {
    margin-right: 0px;
    width: 70%;
    margin-top: 0;
    margin-left: 0px;
  }

  .omega {
    margin-right: 0px;
  }

  #tech {
    display: grid;
    grid-template-columns: auto auto;
    padding: 25px;
  }

  #tech section {
    margin-top: 20px;
  }

  .iframe-container iframe {
    width: 100%;
    height: 100%;
  }

}